*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(../Images/Tecnologia.jpg);
    background-position: center;
    overflow-x: hidden;
    position: relative;
}

.nav-bar{
    display: flex;
    padding: 40px 120px;
}

.nav-logo img{
    width: 135px;
    
}

.nav-links{
    flex: 1;
}

.nav-links ul{
    margin-left: 50px;
    display: inline;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links ul a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: #00A5A6;
    display: block;
    margin: auto;
    transition: 0.4s;
}

.nav-links ul li:hover::after{
    width: 100%;

}

.btn{
    padding: 10px 20px;
    border: 0;
    background: #00A5A6;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.nav-links .btn{
    float: right;
}

.banner-tittle{
    margin: 80px 130px;
    color: #fff;
}

.banner-tittle h1{
    font-size: 64px;
    margin-bottom: 30px;
}

.banner-tittle h1 span{
    color: #00A5A6;
}

.vertical-bar{
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    position: absolute;
}

.search-icon{
    height: 60%;
    width: 80px;
}

.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.social-icons{
    height: 35%;
    width: 80px;
    background: #00A5A6;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}

.social-icons .fa{
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
}

.second-line{
    width: 99.13vw;
    height: 100vh;
    background-color: #0A0C18;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-central{
    width: 70%;
    height: 60%;
    background-color: honeydew;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.picture-empresa{
    width: 35%;
    height: 100%;
    background-color: #0A0C18;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    display: flex;
}
.picture-empresa img{
    width: 60%;
    height: 50%;
    margin-top: 25%;
}

.message-empresa{
    width: 65%;
    height: 100%;
    background-color: #0A0C18;
}

.message-empresa h1{
    margin-top: 8%;
    color: #00A5A6;
    text-align: center;
}

.message-empresa p{
    color: white;
    text-align: justify;
    font-size: 35px;
    margin-right: 40px;
}

.third-line{
    width: 99.13vw;
    height: 100vh;
    background-color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text-picture-1{
    width: 30vw;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
    
}

.text-picture-2{
    width: 30vw;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
}

.text-picture-3{
    width: 30vw;
    height: 70vh;
    
    display: flex;
    flex-direction: column;
}

.picture-1{
    width: 30vw;
    height: 35vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-1{
    width: 18vw;
    height: 35vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.text-1{
    width: 30vw;
    height: 35vh;
}

.picture-2{
    width: 30vw;
    height: 35vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-2{
    width: 18vw;
    height: 35vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.text-2{
    width: 30vw;
    height: 35vh;
}

.picture-3{
    width: 30vw;
    height: 35vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-3{
    width: 18vw;
    height: 35vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.text-3{
    width: 30vw;
    height: 35vh;
}

.service-1{
    font-size: 25px;
    color: white;
    text-align: justify;
}

.service-2{
    font-size: 25px;
    color: white;
    text-align: justify;
}

.service-3{
    font-size: 25px;
    color: white;
    text-align: justify;
}

.fourth-line{
    width: 99.13vw;
    height: 100vh;
    background-color: rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-container{
    width: 70vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.second-container{
    width: 70vw;
    height: 40vh;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.parceiro-1{
    width: 21vw;
    height: 40vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.parceiro-2{
    width: 21vw;
    height: 40vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.parceiro-3{
    width: 21vw;
    height: 40vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.parceiro-4{
    width: 21vw;
    height: 40vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.parceiro-5{
    width: 21vw;
    height: 40vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.parceiro-6{
    width: 21vw;
    height: 40vh;
    background-color: #00A5A6;
    border-radius: 50%;
}

.fifth-line{
    width: 99.13vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container{
    width: 85vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.employee-1{
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foto-1{
    width: 20vw;
    height: 38vh;
    border-radius: 50%;
    background-color: #00A5A6;
}

.texto-1{
    width: 20vw;
    height: 19vh;
}

.texto-1 p{
    padding: 4px;
    color: white;
    font-size: 25px;
    text-align: justify;
}

.employee-2{
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foto-2{
    width: 20vw;
    height: 38vh;
    border-radius: 50%;
    background-color: #00A5A6;
}

.texto-2{
    width: 20vw;
    height: 19vh;
}

.texto-2 p{
    padding: 4px;
    color: white;
    font-size: 25px;
    text-align: justify;
}

.employee-3{
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foto-3{
    width: 20vw;
    height: 38vh;
    border-radius: 50%;
    background-color: #00A5A6;
}

.texto-3{
    width: 20vw;
    height: 19vh;
}

.texto-3 p{
    padding: 4px;
    color: white;
    font-size: 25px;
    text-align: justify;
}

.employee-4{
    width: 20vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foto-4{
    width: 20vw;
    height: 38vh;
    border-radius: 50%;
    background-color: #00A5A6;
}

.texto-4{
    width: 20vw;
    height: 19vh;
}

.texto-4 p{
    padding: 4px;
    color: white;
    font-size: 25px;
    text-align: justify;
}